<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Limuzin.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Limuzin24 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Limuzin24.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Truck24.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>901126141F1A27C90059097F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>901126271F1A27C90059097F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>901126321F1A27C90059097F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90AFCF1F1E979256009A0F67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90AFCF331E979256009A0F67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90AFCF3E1E979256009A0F67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
